# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/
ENV/
env/

# Flask
instance/
.webassets-cache

# Environment variables
.env
.flaskenv

# Distribution / packaging
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

#sample
/sample